html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}


/* Conteúdo Principal */
.main-content {
  transition: margin-left 0.3s;
}

/* Estilo para as categorias de quiz */
.category-card {
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Estilo para o título da categoria */
.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6e48aa;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}