@{
    ViewBag.Title = "KUIPOP";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KUIPOP</h1>
    <p><bold>Create your quizz!!</bold></p>
    <img src="~/Imagens/logo2.png" alt="logo" />
</div>